/* @import url(./media_queries.css); */
@import url(./modal_and_form.css);


/******* GENERAL  *******/
:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  /* !inutile */
  /* --font-slab: var(--font-default); */
  --modal-duration: 0.8s;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--font-default);
  font-size: 18px;
}

body {
  position: relative;
  width: 100vw;
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

/*** Desktop : nav */

nav {
  padding: 50px 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  width: 277px;
  height: 50px;
}

/** desktop :liens de naviagtion */

#navLinksBox {
  /* position: relative; */
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

#navLinksBox a {
  height: 42px;
  color: #000000;
  text-align: center;
  padding: 6px 12px 0px 15px;
  /* margin: 5px; */
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

/* Masquage du lien vers l'accueil (page actuelle) */
#navLinksBox a:first-child {
  display: none;
}

#navLinksBox span {
  padding-bottom: 2px;
  border-bottom: solid 1px #ffffff;
}

#navLinksBox a:hover,
.iconsBox i:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 8px;
}

/* Masquage du conteneur des icônes burger */
.iconsBox{
  display:none;
}

/****** Desktop : main ******/

.hero-section {
  max-width: 1245px;
  height: 660px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);  
}

.hero-content {
  width: 41%;
  padding: 51px 55px 0px;
  background-color: #232323;
  color: #fff;
  position: relative;
  text-align: left;
}

.hero-headline {

  font-size: 95px;
  font-weight: 500;
  white-space: nowrap;
  /* line-height: 90px; */
  letter-spacing: 7px;
}

.hero-text {
  font-size: 24px;
  font-weight: normal;
  padding: 70px 0 ;
  /* margin-top: 57px; */

  text-wrap: wrap;
}

.hero-img {
  width: 60%;
  background-size: cover;
}

.hero-img img {
  width: 100%;
  height: 100%;
}

.btn-submit,
  .btn-signup {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1.1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
  }

.btn-signup {
  outline: none;
  /* text-transform: capitalize; */
  font-size: 1.3rem;
  padding: 12px 35px;
  margin: 0;
  /* margin-top: 59px; */
}

#mobileSignupBtn {
  display: none;
}

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}

/***** Desktop : footer ******/
.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 16px;
  margin: 100px 0 30px;
  font-weight: bolder;
  transform: translateX(-100px);
}


/****** MEDIA QUERIES ******/

/***** Ecrans XL >1440px */
/* @media screen and (min-width: 1441px) {

  .hero-content {
    background: #232323;
  }

  #mobileSignupBtn {
    display: none;
  }
} */


/****** Tablettes ( 768 à 1023px */

@media screen and (min-width: 768px) and (max-width: 1023px) { 

/***  Tablettes : navigation */

  #nav {
    padding: 30px 0 0px;
    flex-direction: column;
    align-items: center;
    background: transparent;
  }

  #navLinksBox {
    padding: 25px 0;
    
  }



/*** Tablettes : main */

  .hero-section * {
    /* transform: translateY(100px) ; */
    /* border-radius: 25px; */
    padding: 40px 0 0;
    background-color: transparent;
    background: #232323;
    display: block;
    /* box-shadow: unset; */
  }

  .hero-content {
    width: 50%;
    background-color:#232323;
    /* background: blue; */
    color: #fff;
    padding: 20px;
  }

  .hero-headline {
    border-radius: 25 px;
    padding: 40px 0;
    transform: translate( -60px, -30px);
    width: 100vw;

    text-align: center;

    font-size: 60px;
    color: #fff;
    overflow: visible;

  }

  .hero-text {
    /* transform: translateY(-100px); */
    /* background: transparent; */
  }

  #desktopSignupBtn {
    border-radius: 8px;
    background-color: #fe142f;
    /* display: block; */
    transform: translateY(50px);

  }
  
  #desktopSignupBtn:hover {
    background-color:#3876ac;
    display: block;
    /* transform: translateY(-120px); */
  }


  .hero-img {
    padding: 150px 20px 20px 0px;
    background: #232323;
    /* grid-column: span 8; */
    /* flex: 60%; */
    background-size: cover;
    /* position: relative;        
      overflow: hidden; */
  }


  /* ! */
  .hero-img img {
    /* transform: translateY(140px); */
      /* height: 15px; */
      /* width: 400px; */
      object-fit: cover;
      border-radius: 10px;
      /* padding: 0; */
      /* margin-top: 40px; */
  }

  .hero-section .btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }

  .copyrights {
    margin-top: 50px;
    text-align: center;
    transform: translateX(0px);
  }

/*** Tablette: formulaire */
  .content {
    margin:90px auto;
  }
}

/****** Mobile (0 à 767px) ******/
@media screen and (min-width:0px) and (max-width: 767px) {

/*** mobile : nav */

  nav {
    height: 65px;
    padding: 30px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  #logo {
    width: 125px;
    height: 22px;
  }

  /** mobile : Icônes du menu burger */

  .iconsBox {
    cursor: pointer;
    display: block;
    color: #fe142f;
    z-index: 2;
  }

  .iconsBox::before {
    line-height: 25px;
    font-family: "Font Awesome 5 Free";
    font-size: 21px;
    font-weight: 900;
    content: "\f0c9";
  }

  .iconsBox.active {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;    
  }

  .iconsBox.active:hover {
    background: #fe142f;
  }

  .iconsBox.active::before {
    
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:#fff;
    content: "\f00d";
  }

  /** mobile : Liens de navigation  */

  #navLinksBox {
    display: none;
    position: absolute;
  }

  #navLinksBox.active {   
    z-index: 1;
    position: absolute;
    right: 0px;
    top:15px;
    border-radius: 8px 0 0 8px;
    padding: 50px 25px 15px 25px;
    display: flex;
    flex-direction: column;
    background: #232323;    
  }

  #navLinksBox span {
    border:none;
  }

  #navLinksBox span:hover {
    border-bottom:solid 1px white;
  }


  #navLinksBox a {
    text-align: left;
    color: #fff
  }
  
  #navLinksBox a:hover {
    border-radius: 5px;
  }


/*** mobile : main */
  

  .hero-section {
    box-shadow: none;
    flex-direction: column;
    background-color: none;
  }

  /* .hero-section .hero-text { */
  
  .hero-text {
    width: unset;
    margin: 0;
    padding: 10px 0 40px;
    font-size: 0.75rem;
    font-weight: 400;
    font-optical-sizing: auto;
  }

  
  .hero-headline {
    padding: 12px 0;
    /* font-size: 2.4rem; */
    font-size: 39px;
    font-weight: 500;
    font-optical-sizing: auto;
    letter-spacing: 2px;
    white-space: normal;
  }
  
  .hero-content {
    width: 100%;
    background: #fff;
    color: #000;
    padding: 0px;
  }
  #desktopSignupBtn {
    display: none;
  }

  .hero-img {
    width: 100%;
    padding: 0 0 25px;
  }

  .hero-img img {
    border-radius: 10px;
  }  

  #mobileSignupBtn {  
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    overflow: hidden;
    font-size: 14px;
  }

  .copyrights {
    transform: translateX(0);
    margin: 0;
    padding: 30px 0;
    text-align: center;
    font-size: 10px;
  }

/*** mobile : formulaire */
  
  .modal-body {
    padding: 18px auto 15px;
  }
  .close {
    /* height: 18px;
    width: 18px; */
  }
  .close:before, .close:after {
    height: 25px;
  }

  .content {
      margin: 80px auto;
      /* width: 99%; */
      border-radius: 15px;
    }

    label, .text-label {
      font-size: 12px;
      margin: 10px 0 5px;
    }

    .btn-submit {
      display: block;
      margin: 15px auto 0;
      padding: 6px 35px;
      overflow: hidden;
      font-size: 14px;
    }

}