@import url(./modal_and_form.css);


/******* GENERAL  *******/
:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --error-font :"Roboto", Arial, Helvetica, sans-serif;
  --modal-duration: 0.3s;
  --primary-color : #fe142f;
  --secondary-color :#3876ac;
  --tertiary-color: #232323;
  --error-color : #FF4E60;
  --grey-color : #C4C4C4;
  --checked-color : #279E7A;
  --clear-color : #ffffff;
  --dark-color : #000000;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--font-default);
  font-size: 18px;
}

body {
  position: relative;
  width: 100vw;
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

/*** Desktop : nav */

nav {
  padding: 50px 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  width: 277px;
  height: 50px;
}

/** desktop :liens de naviagtion */

#navLinksBox {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

#navLinksBox a {
  font-family: Roboto, sans-serif;
  height: 42px;
  color: #000000;
  text-align: center;
  padding: 6px 12px 0px 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

/* Masquage du lien vers l'accueil (page actuelle) */
#navLinksBox a:first-child {
  display: none;
}

#navLinksBox span {
  padding-bottom: 2px;
  border-bottom: solid 1px var(--clear-color);
}

#navLinksBox a:hover,
.iconsBox i:hover { 
  background-color: var(--primary-color);
  color: var(--clear-color);
  border-radius: 8px;
}

/* Masquage du conteneur des icônes burger */
.iconsBox{
  display:none;
}

/****** Desktop : main ******/

.hero-section {
  max-width: 1245px;
  height: 660px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);  
}

.hero-content {
  width: 41%;
  padding: 51px 55px 0px;
  background-color: var(--tertiary-color);
  color: var(--clear-color);
  position: relative;
  text-align: left;
}

.hero-headline {

  font-size: 95px;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 7px;
}

.hero-text {
  font-size: 24px;
  font-weight: normal;
  padding: 70px 0 ;
}

.hero-img {
  width: 60%;
  background-size: cover;
}

.hero-img img {
  width: 100%;
  height: 100%;
}

.btn-submit,
  .btn-signup {
    background: var(--primary-color);
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1.1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
  }

.btn-signup {
  outline: none;
  font-size: 1.3rem;
  padding: 12px 35px;
  margin: 0;
}

#mobileSignupBtn {
  display: none;
}

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}

/***** Desktop : footer ******/
.copyrights {
  color: var(--primary-color);
  padding: 0;
  font-size: 16px;
  margin: 100px 0 30px;
  font-weight: bolder;
  transform: translateX(-100px);
}
.copyrights a{
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
}

.copyrights>a:hover {
  color: var(--secondary-color);
}

/****** MEDIA QUERIES ******/


/****** Tablettes ( 768 à 1023px */

@media screen and (min-width: 768px) and (max-width: 1023px) { 

/***  Tablettes : navigation */

  #nav {
    padding: 30px 0 0px;
    flex-direction: column;
    align-items: center;
    background: transparent;
  }

  #navLinksBox {
    padding: 25px 0;
    
  }



/*** Tablettes : main */

  .hero-section * {
    padding: 40px 0 0;
    background-color: transparent;
    background: var(--tertiary-color);
    display: block;
  }

  .hero-content {
    width: 50%;
    background-color:var(--tertiary-color);
    color: var(--clear-color);
    padding: 20px;
  }

  .hero-headline {
    padding: 40px 0;
    transform: translate( -60px, -30px);
    width: 100vw;
    text-align: center;
    font-size: 60px;
    color: #fff;
    overflow: visible;
  }


  #desktopSignupBtn {
    border-radius: 8px;
    background-color: var(--primary-color);
    transform: translateY(50px);

  }
  
  #desktopSignupBtn:hover {
    background-color:var(--secondary-color);
    display: block;
  }


  .hero-img {
    padding: 150px 20px 20px 0px;
    background: var(--tertiary-color);
    background-size: cover;
  }

  .hero-img img {
      object-fit: cover;
      border-radius: 10px;
  }

  .hero-section .btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }

  .copyrights {
    margin-top: 50px;
    text-align: center;
    transform: translateX(0px);
  }

/*** Tablette: formulaire */

  .content {
    margin:90px auto;
  }
}

/****** Mobile (0 à 767px) ******/
@media screen and (min-width:0px) and (max-width: 767px) {

/*** mobile : nav */

  nav {
    height: 65px;
    padding: 30px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  #logo {
    width: 125px;
    height: 22px;
  }

  /** mobile : Icônes du menu burger */

  .iconsBox {
    cursor: pointer;
    display: block;
    color: var(--primary-color);
    z-index: 2;
  }

  .iconsBox::before {
    line-height: 25px;
    font-family: "Font Awesome 5 Free";
    font-size: 21px;
    font-weight: 900;
    content: "\f0c9"; /* icone burger*/
  }

  .iconsBox.active {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;    
  }

  .iconsBox.active:hover {
    background: var(--primary-color);
  }

  .iconsBox.active::before {
    
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:var(--clear-color);
    content: "\f00d"; /* icone croix de fermeture*/
  }

  /** mobile : Liens de navigation  */

  #navLinksBox {
    display: none;
    position: absolute;
  }

  #navLinksBox.active {   
    z-index: 1;
    position: absolute;
    right: 0px;
    top:15px;
    border-radius: 8px 0 0 8px;
    padding: 50px 25px 15px 25px;
    display: flex;
    flex-direction: column;
    background: var(--tertiary-color);    
  }

  #navLinksBox span {
    border:none;
  }

  #navLinksBox span:hover {
    border-bottom:solid 1px var(--clear-color);
  }


  #navLinksBox a {
    text-align: left;
    color: var(--clear-color)
  }
  
  #navLinksBox a:hover {
    border-radius: 5px;
  }


/*** mobile : main */
  

  .hero-section {
    box-shadow: none;
    flex-direction: column;
  }

  /* .hero-section .hero-text { */
  
  .hero-text {
    width: unset;
    margin: 0;
    padding: 10px 0 40px;
    font-size: 0.75rem;
    font-weight: 400;
  }

  
  .hero-headline {
    padding: 12px 0;
    font-size: 39px;
    font-weight: 500;
    letter-spacing: 2px;
    white-space: normal;
  }
  
  .hero-content {
    width: 100%;
    background:var(--clear-color);
    color: var(--dark-color);
    padding: 0px;
  }

  #desktopSignupBtn {
    display: none;
  }

  .hero-img {
    width: 100%;
    padding: 0 0 25px;
  }

  .hero-img img {
    border-radius: 10px;
  }  

  #mobileSignupBtn {  
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    overflow: hidden;
    font-size: 14px;
  }

  .copyrights {
    display:block;
    transform: translateX(0);
    margin: 0;
    padding: 30px 0;
    text-align: center;
    font-size: 10px;
  }
  

/*** mobile : formulaire */
  
  
  .close:before, .close:after {
    height: 25px;
  }

  .content {
      margin: 80px auto;
      border-radius: 15px;
    }

    label, .text-label {
      font-size: 12px;
      margin: 10px 0 5px;
    }

    .btn-submit {
      display: block;
      margin: 15px auto 0;
      padding: 6px 35px;
      overflow: hidden;
      font-size: 14px;
    }

}